.App {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #e3ecff, #f7faff, #eaf0ff);
  min-height: 100vh;
  padding: 20px;
}

.loader {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
  margin-top: 100px;
  text-align: center;
}


